html, body { margin: 0%;padding: 0%; overflow-x: hidden; width: 100%; height: 100%;background: linear-gradient( rgba(0,143,104,65), rgba(0,63,139,98) 70%, rgba(0,34,78,100)); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

h1{
    color: #EDEAEA;
    margin: 5% auto;
    width: 100%;
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
}

.card{
    border-radius: 1rem;
}

.card-body-anchor{
    text-decoration: none;
    color: #2F2C2C;
}

.card-body{
    padding: 0%;
    position: absolute;
    left: 10%;
    top: 23%;
}

.card:hover, a:hover{
    color: black;
    font-weight: bold;
    opacity: 0.8;
}

.playlist{
    width: 20%;
    height: 10%;
    margin: 2% auto;
}

.fas{
    position: absolute;
    top: 45%;
    left: 90%;
}

@media screen and (max-width: 800px) {
    h1{
        margin-bottom: 25%;
        padding: 5%;
    }

    .playlist{
        width: 50%;
    }

    .card-body{
        top: 30%;
    }
}